<ul class="nav justify-content-end" style="background-color:#403F3E;">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="https://www.ea.com/en-gb/games/fifa/fifa-22"><i class="hoverlogo fa-regular fa-user" style="color:#CDCBC8;"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="hoverlogo fa-solid fa-question"  style="color:#CDCBC8;"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><img src="assets/ealogoo.png" width="25px" class="ealogo1 hoverlogo"></a>
  </li>
</ul>




<div id="menu" class="navbar navbar-expand-lg bg-light" ><!-- Menu starts here -->
  <ul class="menu" ><!-- List starts here -->
      <li><a routerLink="/home" class="navbar-brand" ><img src="assets/FIFA22LOGO.png" width="150px;" style="margin-top: -7px;"></a></li>
      <li class="has-dropdown sub-menu-parent " ><a href="#">ABOUT</a><!-- 5 columns starts here -->
          <div class="dropdown dropdown-4columns "  ><!-- Container 5 columns starts here -->
          
          <div class="col-1">
<ul class="grisbox dropdownn">
  <li class="adjust-width"><a href="#"><H3>ABOUT FIFA 22</H3></a>  </li>
  <li class="adjust-width"><a href="#">Ambassadors</a> </li>
  <li class="adjust-width"><a href="#">Club Packs</a></li>
  <li class="adjust-width"><a href="#">Unrivalled Authenticity &nbsp;</a> </li>
  <li class="adjust-width"><a href="#">Soundtrack&nbsp;</a> </li>
  <li class="adjust-width"><a href="#">PC System Requirements</a> </li>
  <li class="adjust-width"><a href="#">Accessibility&nbsp;</a> </li>
</ul>     </div>
          <div class="col-1">
<ul class="grisbox">
<li class="adjust-width"><a href="#"><H3>FEATURES</H3></a> </li>
<li class="adjust-width"><a href="#">Features Overview</a></li>
<li class="adjust-width"><a href="#">Gameplay Features</a></li>
<li class="adjust-width"><a href="#s">HyperMotion</a></li>
              </ul>            </div>
          <div class="col-1">
<ul class="grisbox">
  <li class="adjust-width"><a href="#"><h3>EA PLAY</h3></a></li>
<li class="adjust-width"><a href="#">EA Play Pro Edition &nbsp;</a> </li>
<li class="adjust-width"><a href="#"> Member Rewards</a></li>
<li class="adjust-width"><a href="#">BBA &nbsp;</a> </li>

              </ul>            </div>
      
      </div><!-- 5 columns ends here -->
  </li><!-- Container 5 columns ends here -->
      <li class="has-dropdown"><a href="#">GAME MODES</a><!-- 5 columns starts here -->
          <div class="dropdown dropdown-5columns"><!-- Container 5 columns starts here -->
          
          <div class="col-1">
<ul class="grisbox">
<li class="adjust-width"><a href="#"><H3>FUT</H3></a></li>
<li class="adjust-width"><a href="#"> TOTS</a>	</li>
<li class="adjust-width"><a href="#"> TOTY </a>	</li>
<li class="adjust-width"><a href="#"> Features </a>	</li>
<li class="adjust-width"><a href="#"> FUT Heroes</a>	</li>
<li class="adjust-width"><a href="#"> Ones to Watch </a>	</li>
<li class="adjust-width"><a href="#"> ICONs </a>	</li>
<li class="adjust-width"><a href="#"> Ratings </a>	</li>
<li class="adjust-width"><a href="#"> Ratings Collective </a>	</li>
<li class="adjust-width"><a href="#"> Item Guide </a>	</li>
<li class="adjust-width"><a href="#"> FUT Web App </a>	</li>
              </ul>            </div>
          <div class="col-1">
<ul class="grisbox">
<li class="adjust-width"><a href="#"><H3>VOLTA</H3></a></li>
<li class="adjust-width"><a href="#">Pitch Notes</a>	</li>
              </ul>            </div>
          <div class="col-1">
<ul class="grisbox">
<li class="adjust-width"><a href="#"><H3>CAREER MODE</H3></a></li>
<li class="adjust-width"><a href="#">Pitch Notes</a>	</li>
              </ul>            </div>
          <div class="col-1">
<ul class="grisbox">
<li class="adjust-width"><a href="#"><H3>PRO CLUBS</H3></a></li>
<li class="adjust-width"><a href="#">Rankings</a>	</li>
<li class="adjust-width"><a href="#">Pitch Notes</a>	</li>
              </ul>            </div>
         
      </div><!-- 5 columns ends here -->
  </li><!-- Container 5 columns ends here -->
  <li class="has-dropdown"><a href="#">COMMUNITY</a><!-- 3 columns starts here -->
      <div class="dropdown dropdown-2columns align_right"><!-- Container 3 columns starts here -->
          
          <div class="col-1">
              <ul class="grisbox">
<li class="adjust-width"><a href="">Goals Of The Week</a></li>
<li class="adjust-width"><a href="#">Forums</a></li>
<li class="adjust-width"><a href="#">Positive Player Charter</a></li>
              </ul>
          </div>
         
         
     
      </div>
  </li>

  <li class="has-dropdown"><a href="#">NEWS & MEDIA</a>
    <div class="dropdown dropdown-2columns align_right">
        
        <div class="col-1">
            <ul class="grisbox">
<li class="adjust-width"><a href="">FIFA 22 News</a></li>
<li class="adjust-width"><a href="#">Pitch Notes</a></li>
<li><a href="#">Email Updates</a></li>
            </ul>
        </div>
       
       
   
    </div><!-- 2 columns ends here -->
</li><!-- Container 3 columns ends here -->
  <li><a href="#">COMPETE</a><!-- 2 columns starts here -->
    </li>
    <li><a routerLink="test1">Test1</a><!-- 2 columns starts here -->
    </li>
  
</ul><!-- List ends here -->
<div class="dropdown" style="margin-left: 36%;">
  <button style="background-color: #A5F021; color:black; border-radius: 0%; border: 0px;" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Buy FIFA22 Now
  </button>
  <ul class="dropdown-menu" style="left:-45%">
    <li><table border="1px;" style="width:90%; padding: 3px; margin: 10px;"><tr><th style="text-align: justify;"><a class="dropdown-item" style="text-align: justify;" href="#">PlayStation</a></th></tr></table></li>
    <li><table border="1px;" style="width:90%; padding: 3px; margin: 10px;"><tr><th style="text-align: justify;"><a class="dropdown-item" style="text-align: justify;" href="#">Xbox</a></th></tr></table></li>
    <li><table border="1px;" style="width:90%; padding: 3px; margin: 10px;"><tr><th style="text-align: justify;"><a class="dropdown-item" style="text-align: justify;" href="#">The EA app for windows</a></th></tr></table></li>
    <li><table border="1px;" style="width:90%; padding: 3px; margin: 10px;"><tr><th style="text-align: justify;"><a class="dropdown-item" style="text-align: justify;" href="#">Stadia</a></th></tr></table></li>
    <li><table border="1px;" style="width:90%; padding: 3px; margin: 10px;"><tr><th style="text-align: justify;"><a class="dropdown-item" style="text-align: justify;" href="#">Steam</a></th></tr></table></li>
  </ul>
</div>



</div>
