<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal" >Add employee</button>

      </form>
    </div>
  </nav>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">E mail</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of empdata">
        <th scope="row">{{a.id}}</th>
        <td >{{a.first_name}}</td>
        <td>{{a.last_name}}</td>
        <td>{{a.email_id}}</td>
        <td><button type="button" class="btn btn-danger"  (click)="ondelete(a.id)">Delete</button>&nbsp;
            <button type="button" class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onedit(a)">Edit</button></td>
      </tr>

      

    </tbody>
  </table>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


            <form #emp="ngForm" >
                <div class="mb-3">
                  <label class="form-label">First Name</label>
                  <input type="text" class="form-control" [(ngModel)]="emp1.first_name" name="first_name">
                </div>
                <div class="mb-3">
                    <label class="form-label">Last Name</label>
                    <input type="text" class="form-control" [(ngModel)]="emp1.last_name" name="last_name" >
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Email address</label>
                    <input type="email" class="form-control" [(ngModel)]="emp1.email_id" name="email_id" >
                  </div>
              </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="oncreate(emp)">Add employee</button>
          <button type="button" class="btn btn-success" (click)="onupdate(emp)">Update</button>
        </div>
      </div>
    </div>
  </div>