<div class="lingra">
    <p style="color: white; padding-left: 7%; padding-top: 2%;">PLAY FIFA 23 EARLY WITH AN EA PLAY PRO MEMBERSHIP</p>
    <a href="#"><img src="assets/EA-Emblem.png" style="width: 130px; margin-left: 70%; margin-top: -5%;" ></a>
    <button style="width:150px; height:60px; margin-top: -5%; margin-left: 5%;" class="btn">Join Now</button>
    </div>

<div [ngStyle]="{backgroundImage:'url(./assets/fifa23.png)','background-repeat': 'no-repeat', 'height':'
580px', 'background-size': '100% 800px'}" style="width: 100%;" >
    <h1 style="margin-left: 20%;">
        <br><br><br><strong>
        PLAY THE WORLD’S<br> GAME NOW.</strong>
    </h1>
    <p style="margin-left: 20%;">
        It’s Matchday. Everywhere.
    </p>
    <button class="plnow">Play Now</button>
    <button class="wchtr">Watch Trailer  <i class="fa-solid fa-play"></i></button>
</div>